In [7]:
# county_adjacencies.csv cleaning

df2 = pd.read_csv("data/county_adjacencies.csv")

print(df2.head())
print(df2.isnull().sum())

           County  Population2022   FIPS  District                   N1  \
0        Accomack           33191  51001         2       Northumberland
1       Albemarle          114534  51003         5  CharlottesvilleCity
2  AlexandriaCity          155525  51510         8              Fairfax
3       Alleghany           14835  51005         6                Craig
4          Amelia           13455  51007         5         PrinceEdward

           N2         N3             N4           N5        N6      N7  \
0   Lancaster  Middlesex        Mathews  Northampton       NaN     NaN
1      Nelson    Augusta     Rockingham       Greene    Orange  Louisa
2   Arlington        NaN            NaN          NaN       NaN     NaN
3        Bath  Botetourt  CovingtonCity   Rockbridge       NaN     NaN
4  Cumberland   Powhatan   Chesterfield    Dinwiddie  Nottoway     NaN

         N8          N9     N10  N11  N12
0       NaN         NaN     NaN  NaN  NaN
1  Fluvanna  Buckingham  Nelson  NaN  NaN
2       NaN         NaN     NaN  NaN  NaN
3       NaN         NaN     NaN  NaN  NaN
4       NaN         NaN     NaN  NaN  NaN
County              0
Population2022      0
FIPS                0
District            0
N1                  0
N2                 14
N3                 29
N4                 34
N5                 50
N6                 74
N7                100
N8                116
N9                123
N10               129
N11               132
N12               132
dtype: int64

In [8]:
# Lots of NaNs for the adjacent neighborhoods

# Fill missing neighbor columns with "None"
neighbor_columns = ['N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'N11', 'N12']
df2[neighbor_columns] = df2[neighbor_columns].fillna("None")

print(df2.isnull().sum())
# save this dataset as a csv
# df2.to_csv("data/clean_county_adjacencies.csv", index=False)

County            0
Population2022    0
FIPS              0
District          0
N1                0
N2                0
N3                0
N4                0
N5                0
N6                0
N7                0
N8                0
N9                0
N10               0
N11               0
N12               0
dtype: int64

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("data/voting_VA.csv")

print(df.head())
print(df.isnull().sum())

   Unnamed: 0  year     state state_po county_name  county_fips        office  \
0       11161  2000  VIRGINIA       VA    ACCOMACK        51001  US PRESIDENT
1       11162  2000  VIRGINIA       VA    ACCOMACK        51001  US PRESIDENT
2       11163  2000  VIRGINIA       VA    ACCOMACK        51001  US PRESIDENT
3       11164  2000  VIRGINIA       VA    ACCOMACK        51001  US PRESIDENT
4       11165  2000  VIRGINIA       VA   ALBEMARLE        51003  US PRESIDENT

        candidate       party  candidatevotes  totalvotes   version   mode
0         AL GORE    DEMOCRAT            5092       11925  20220315  TOTAL
1  GEORGE W. BUSH  REPUBLICAN            6352       11925  20220315  TOTAL
2     RALPH NADER       GREEN             220       11925  20220315  TOTAL
3           OTHER       OTHER             261       11925  20220315  TOTAL
4         AL GORE    DEMOCRAT           16255       36846  20220315  TOTAL
Unnamed: 0        0
year              0
state             0
state_po          0
county_name       0
county_fips       0
office            0
candidate         0
party             0
candidatevotes    0
totalvotes        0
version           0
mode              0
dtype: int64

In [2]:
# Remove the 'Unnamed: 0' column
df.drop('Unnamed: 0', axis=1, inplace=True)

# Check unique values for certain columns to ensure consistency
print(df['state'].unique())  # Should only contain "VIRGINIA"
print(df['state_po'].unique())  # Should only contain "VA"
print(df['office'].unique())  # Should only contain "US PRESIDENT"
print(df['mode'].unique())  # Check if any action is needed

['VIRGINIA']
['VA']
['US PRESIDENT']
['TOTAL' 'ABSENTEE' 'ELECTION DAY' 'PROVISIONAL']

In [3]:
df['mode'].head()

0    TOTAL
1    TOTAL
2    TOTAL
3    TOTAL
4    TOTAL
Name: mode, dtype: object

In [4]:
# If we're interested in overall voting results without differentiating between the modes:
# df_total = df[df['mode'] == 'TOTAL']
# df_total.to_csv("data/clean_total_voting_VA.csv", index=False) 

# Otherwise, we can keep all of the modes of voting and use them as features
# in our models
df['mode'] = df['mode'].astype('category')
df['mode'].head()

0    TOTAL
1    TOTAL
2    TOTAL
3    TOTAL
4    TOTAL
Name: mode, dtype: category
Categories (4, object): ['ABSENTEE', 'ELECTION DAY', 'PROVISIONAL', 'TOTAL']

In [5]:
# Provides a dataframe where the modes aggregates all individual records across different voting modes 
# into a single record per candidate per county per election year. 

df_aggregated = df.groupby(['year', 'county_name', 'county_fips', 'candidate', 'party']).agg({
    'candidatevotes': 'sum',
    'totalvotes': 'max'  # Assuming totalvotes is the same across all modes, otherwise sum might be needed
}).reset_index()

df_aggregated.head()

,year,county_name,county_fips,candidate,party,candidatevotes,totalvotes
0,2000,ACCOMACK,51001,AL GORE,DEMOCRAT,5092,11925
1,2000,ACCOMACK,51001,GEORGE W. BUSH,REPUBLICAN,6352,11925
2,2000,ACCOMACK,51001,OTHER,OTHER,261,11925
3,2000,ACCOMACK,51001,RALPH NADER,GREEN,220,11925
4,2000,ALBEMARLE,51003,AL GORE,DEMOCRAT,16255,36846

In [6]:
import pandas as pd
#removing candidates column (unimportant)
df_real = df_aggregated.drop('candidate', axis=1)
#removing third parties (also unimportant)
df_real = df_real[~df_real['party'].isin(['OTHER', 'GREEN'])]
#finding net total votes
df_real['net_total'] = df_real.groupby(['year', 'county_name', 'county_fips', 'totalvotes'])['candidatevotes'].transform(lambda x: x.iloc[1] - x.iloc[0])

# merging columns
df_real = df_real.groupby(['year', 'county_name', 'county_fips', 'totalvotes', 'net_total']).agg({'party': ', '.join}).reset_index()
df_real['winner'] = df_real['net_total'].apply(lambda x: 'REPUBLICAN' if x > 0 else 'DEMOCRAT')
#dropping some more columns
df_real = df_real.drop(['party', 'totalvotes'], axis=1)
df_final = df_real[['year', 'county_name', 'county_fips','net_total', 'winner']]
df_final.head()

   year county_name  county_fips  net_total      winner
0  2000    ACCOMACK        51001       1260  REPUBLICAN
1  2000   ALBEMARLE        51003       2036  REPUBLICAN
2  2000  ALEXANDRIA        51510     -14590    DEMOCRAT
3  2000   ALLEGHANY        51005        594  REPUBLICAN
4  2000      AMELIA        51007       1193  REPUBLICAN

In [17]:
df_test = df_final[df_final['year'] == 2008]
df_temp = pd.read_csv("data/county_data/0002_ds191_20125_county_E.csv", low_memory=False)
df_temp['GEOID_right'] = df_temp['GEOID'].apply(lambda x: x.split("US")[-1])
df_test['county_fips'] = df_test['county_fips'].astype(str)
df_merged = pd.merge(df_test, df_temp, left_on='county_fips', right_on='GEOID_right', how='left')
df_cleaned = df_merged.dropna(axis=1, how='all')
print(df_cleaned.head())

   year county_name county_fips  net_total      winner  Unnamed: 0   GISJOIN  \
0  2008    ACCOMACK       51001        226  REPUBLICAN        2822  G5100010
1  2008   ALBEMARLE       51003      -9216    DEMOCRAT        2823  G5100030
2  2008  ALEXANDRIA       51510     -31292    DEMOCRAT        2917  G5105100
3  2008   ALLEGHANY       51005        162  REPUBLICAN        2824  G5100050
4  2008      AMELIA       51007       1482  REPUBLICAN        2825  G5100070

        YEAR STUSAB     STATE  ... QX6E001 QX7E001 QX7E002 QX7E003 QX8E001  \
0  2008-2012     VA  Virginia  ...   21017   21017   14286    6731   14286
1  2008-2012     VA  Virginia  ...   42332   42332   37549    4783   37549
2  2008-2012     VA  Virginia  ...   72460   72460   64729    7731   64729
3  2008-2012     VA  Virginia  ...    8064    8064    6851    1213    6851
4  2008-2012     VA  Virginia  ...    5369    5369    4777     592    4777

  QX8E002 QX8E003 QZTE001 QZ6E001 GEOID_right
0   10070    4216     741  153800       51001
1   24648   12901    1080  332400       51003
2   28403   36326    1440  475900       51510
3    5617    1234     546  117700       51005
4    3867     910     823  201100       51007

[5 rows x 165 columns]

/tmp/ipykernel_170850/4171832577.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['county_fips'] = df_test['county_fips'].astype(str)

In [28]:
# This is another attempt at getting info from csv files into the dataframe. 
csv_files = ["data/county_data/0002_ds176_20105_county_E.csv", "data/county_data/0002_ds191_20125_county_E.csv", "data/county_data/0002_ds191_20125_county_E.csv", "data/county_data/0002_ds191_20125_county_E.csv", "data/county_data/0002_ds239_20185_county_E.csv", "data/county_data/0002_ds249_20205_county_E.csv"]

# Split df_final by year
df_final_by_year = dict(tuple(df_final.groupby('year')))

# Initialize an empty list to store the updated yearly dataframes
df_updated_list = []

# To save computing time, each csv file should only be opened & cleaned once using this
old_csv = ""

for year, df_year in df_final_by_year.items():
    # Find the appropriate save file
    csv_file = ""
    if year < 2008:
        csv_file = csv_files[0]
    elif year < 2010:
        csv_file = csv_files[1]
    elif year < 2012:
        csv_file = csv_files[2]
    elif year < 2014:
        csv_file = csv_files[3]
    elif year < 2016:
        csv_file = csv_files[4]
    elif year < 2021:
        csv_file = csv_files[5]
    else:
        print(f"No csv file for year {year}")
        continue
    
    if csv_file:
        # If it hasn't already been loaded, 
        if csv_file != old_csv:
            #then load the csv file, find the correct id, and drop null rows
            df_temp = pd.read_csv(csv_file, low_memory=False)
            df_temp['GEOID_right'] = df_temp['GEOID'].astype(str).apply(lambda x: x.split("US")[-1])
            df_temp = df_temp.dropna(axis=1, how='all')
            old_csv = csv_file
            
        df_year['county_fips'] = df_year['county_fips'].astype(str)
        df_merged = pd.merge(df_year, df_temp, left_on='county_fips', right_on='GEOID_right', how='left')
        df_updated_list.append(df_merged)
    else:
        print("Can't open file")

# Concatenate the updated dataframes
df_updated = pd.concat(df_updated_list, ignore_index=True)
df_updated = df_updated.dropna(axis=1, how='all')
print(df_updated.head())
#THE ISSUE: basically, every csv file has different column header names, so when it merges, it appends all of the columns every time. 
#This is bad because the number of columns grows every time, despite the fact that they're duplicates. 
#To see the issue, open up the csv files mentioned earlier in this code, and see that the columns are named weird stuff like "AMWSE004"
#Basically, it will keep adding NaN values columns that don't match, despite the fact that the columns do match.

     year        county_name county_fips  net_total    winner  Unnamed: 0  \
798  2020  WILLIAMSBURG CITY       51830      -1871  DEMOCRAT      2954.0
799  2020    WINCHESTER CITY       51840      -5008  DEMOCRAT      2955.0
800  2020               WISE       51195     -13258  DEMOCRAT      2915.0
801  2020              WYTHE       51197     -11563  DEMOCRAT      2916.0
802  2020               YORK       51199     -19561  DEMOCRAT      2917.0

      GISJOIN       YEAR STUSAB     STATE  ... AMWSE004 AMWSE005 AMWSE006  \
798  G5108300  2016-2020     VA  Virginia  ...     3733     3386      440
799  G5108400  2016-2020     VA  Virginia  ...     8464     7150     1061
800  G5101950  2016-2020     VA  Virginia  ...     9976     7461     1571
801  G5101970  2016-2020     VA  Virginia  ...     9182     7557     1876
802  G5101990  2016-2020     VA  Virginia  ...    23288    21640     1681

    AMWSE007 AMWSE008 AMWSE009 AMWSE010 AMWSE011 AMWSE012 AMWSE013
798     3244      294      202       17        0      239      492
799     7067     1158      445       77        0      411     1786
800     7973     2226      683      213        3     1824     3035
801     6281     1198     1401      295        0      461     2717
802    21312     1523     1035       52        0      688     1521

[5 rows x 1116 columns]

In [32]:
#decided to drop the 2000 & 2004 data because there is no county info that goes with it. 
df_updated = df_updated[~df_updated['year'].isin([2000, 2004])]
df_updated.head()

,year,county_name,county_fips,net_total,winner,Unnamed: 0,GISJOIN,YEAR,STUSAB,STATE,...,AMWSE004,AMWSE005,AMWSE006,AMWSE007,AMWSE008,AMWSE009,AMWSE010,AMWSE011,AMWSE012,AMWSE013
268,2008,ACCOMACK,51001,226,REPUBLICAN,2822.0,G5100010,2008-2012,VA,Virginia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2008,ALBEMARLE,51003,-9216,DEMOCRAT,2823.0,G5100030,2008-2012,VA,Virginia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,2008,ALEXANDRIA,51510,-31292,DEMOCRAT,2917.0,G5105100,2008-2012,VA,Virginia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2008,ALLEGHANY,51005,162,REPUBLICAN,2824.0,G5100050,2008-2012,VA,Virginia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,2008,AMELIA,51007,1482,REPUBLICAN,2825.0,G5100070,2008-2012,VA,Virginia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Neural network time.