In [7]:
# county_adjacencies.csv cleaning

df2 = pd.read_csv("data/county_adjacencies.csv")

print(df2.head())
print(df2.isnull().sum())

           County  Population2022   FIPS  District                   N1  \
0        Accomack           33191  51001         2       Northumberland
1       Albemarle          114534  51003         5  CharlottesvilleCity
2  AlexandriaCity          155525  51510         8              Fairfax
3       Alleghany           14835  51005         6                Craig
4          Amelia           13455  51007         5         PrinceEdward

           N2         N3             N4           N5        N6      N7  \
0   Lancaster  Middlesex        Mathews  Northampton       NaN     NaN
1      Nelson    Augusta     Rockingham       Greene    Orange  Louisa
2   Arlington        NaN            NaN          NaN       NaN     NaN
3        Bath  Botetourt  CovingtonCity   Rockbridge       NaN     NaN
4  Cumberland   Powhatan   Chesterfield    Dinwiddie  Nottoway     NaN

         N8          N9     N10  N11  N12
0       NaN         NaN     NaN  NaN  NaN
1  Fluvanna  Buckingham  Nelson  NaN  NaN
2       NaN         NaN     NaN  NaN  NaN
3       NaN         NaN     NaN  NaN  NaN
4       NaN         NaN     NaN  NaN  NaN
County              0
Population2022      0
FIPS                0
District            0
N1                  0
N2                 14
N3                 29
N4                 34
N5                 50
N6                 74
N7                100
N8                116
N9                123
N10               129
N11               132
N12               132
dtype: int64

In [8]:
# Lots of NaNs for the adjacent neighborhoods

# Fill missing neighbor columns with "None"
neighbor_columns = ['N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10', 'N11', 'N12']
df2[neighbor_columns] = df2[neighbor_columns].fillna("None")

print(df2.isnull().sum())
# save this dataset as a csv
# df2.to_csv("data/clean_county_adjacencies.csv", index=False)

County            0
Population2022    0
FIPS              0
District          0
N1                0
N2                0
N3                0
N4                0
N5                0
N6                0
N7                0
N8                0
N9                0
N10               0
N11               0
N12               0
dtype: int64

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("data/voting_VA.csv")

print(df.head())
print(df.isnull().sum())

   Unnamed: 0  year     state state_po county_name  county_fips        office  \
0       11161  2000  VIRGINIA       VA    ACCOMACK        51001  US PRESIDENT
1       11162  2000  VIRGINIA       VA    ACCOMACK        51001  US PRESIDENT
2       11163  2000  VIRGINIA       VA    ACCOMACK        51001  US PRESIDENT
3       11164  2000  VIRGINIA       VA    ACCOMACK        51001  US PRESIDENT
4       11165  2000  VIRGINIA       VA   ALBEMARLE        51003  US PRESIDENT

        candidate       party  candidatevotes  totalvotes   version   mode
0         AL GORE    DEMOCRAT            5092       11925  20220315  TOTAL
1  GEORGE W. BUSH  REPUBLICAN            6352       11925  20220315  TOTAL
2     RALPH NADER       GREEN             220       11925  20220315  TOTAL
3           OTHER       OTHER             261       11925  20220315  TOTAL
4         AL GORE    DEMOCRAT           16255       36846  20220315  TOTAL
Unnamed: 0        0
year              0
state             0
state_po          0
county_name       0
county_fips       0
office            0
candidate         0
party             0
candidatevotes    0
totalvotes        0
version           0
mode              0
dtype: int64

In [3]:
# Remove the 'Unnamed: 0' column
df.drop('Unnamed: 0', axis=1, inplace=True)

# Check unique values for certain columns to ensure consistency
print(df['state'].unique())  # Should only contain "VIRGINIA"
print(df['state_po'].unique())  # Should only contain "VA"
print(df['office'].unique())  # Should only contain "US PRESIDENT"
print(df['mode'].unique())  # Check if any action is needed

['VIRGINIA']
['VA']
['US PRESIDENT']
['TOTAL' 'ABSENTEE' 'ELECTION DAY' 'PROVISIONAL']

In [4]:
df['mode'].head()

0    TOTAL
1    TOTAL
2    TOTAL
3    TOTAL
4    TOTAL
Name: mode, dtype: object

In [5]:
# If we're interested in overall voting results without differentiating between the modes:
# df_total = df[df['mode'] == 'TOTAL']
# df_total.to_csv("data/clean_total_voting_VA.csv", index=False) 

# Otherwise, we can keep all of the modes of voting and use them as features
# in our models
df['mode'] = df['mode'].astype('category')
df['mode'].head()

0    TOTAL
1    TOTAL
2    TOTAL
3    TOTAL
4    TOTAL
Name: mode, dtype: category
Categories (4, object): ['ABSENTEE', 'ELECTION DAY', 'PROVISIONAL', 'TOTAL']

In [6]:
# Provides a dataframe where the modes aggregates all individual records across different voting modes 
# into a single record per candidate per county per election year. 

df_aggregated = df.groupby(['year', 'county_name', 'county_fips', 'candidate', 'party']).agg({
    'candidatevotes': 'sum',
    'totalvotes': 'max'  # Assuming totalvotes is the same across all modes, otherwise sum might be needed
}).reset_index()

df_aggregated.head()

,year,county_name,county_fips,candidate,party,candidatevotes,totalvotes
0,2000,ACCOMACK,51001,AL GORE,DEMOCRAT,5092,11925
1,2000,ACCOMACK,51001,GEORGE W. BUSH,REPUBLICAN,6352,11925
2,2000,ACCOMACK,51001,OTHER,OTHER,261,11925
3,2000,ACCOMACK,51001,RALPH NADER,GREEN,220,11925
4,2000,ALBEMARLE,51003,AL GORE,DEMOCRAT,16255,36846

In [7]:
import pandas as pd
#removing candidates column (unimportant)
df_real = df_aggregated.drop('candidate', axis=1)
#removing third parties (also unimportant)
df_real = df_real[~df_real['party'].isin(['OTHER', 'GREEN'])]
#finding net total votes
df_real['net_total'] = df_real.groupby(['year', 'county_name', 'county_fips', 'totalvotes'])['candidatevotes'].transform(lambda x: x.iloc[1] - x.iloc[0])

# merging columns
df_real = df_real.groupby(['year', 'county_name', 'county_fips', 'totalvotes', 'net_total']).agg({'party': ', '.join}).reset_index()
df_real['winner'] = df_real['net_total'].apply(lambda x: 'REPUBLICAN' if x > 0 else 'DEMOCRAT')
#dropping some more columns
df_real = df_real.drop(['party', 'totalvotes'], axis=1)
df_final = df_real[['year', 'county_name', 'county_fips','net_total', 'winner']]
df_final.head()

   year county_name  county_fips  net_total      winner
0  2000    ACCOMACK        51001       1260  REPUBLICAN
1  2000   ALBEMARLE        51003       2036  REPUBLICAN
2  2000  ALEXANDRIA        51510     -14590    DEMOCRAT
3  2000   ALLEGHANY        51005        594  REPUBLICAN
4  2000      AMELIA        51007       1193  REPUBLICAN

In [13]:
df_test = df_final[df_final['year'] == 2008]
df_temp = pd.read_csv("data/county_data/utf8_all/0002_ds191_20125_county_E.csv", low_memory=False)
df_temp.columns = df_temp.iloc[0]
df_temp = df_temp[1:]
df_temp = df_temp.reset_index(drop=True)
df_temp['FIPS'] = df_temp['Public Use Microdata Area Code'].astype(str).apply(lambda x: x.split("US")[-1])
df_test['county_fips'] = df_test['county_fips'].astype(str)
df_merged = pd.merge(df_test, df_temp, left_on='county_fips', right_on='FIPS', how='left')
df_cleaned = df_merged.dropna(axis=1, how='all')

/tmp/ipykernel_651797/2063407606.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['county_fips'] = df_test['county_fips'].astype(str)

In [19]:
csv_files = ["data/county_data/utf8_all/0002_ds176_20105_county_E.csv", "data/county_data/utf8_all/0002_ds191_20125_county_E.csv", "data/county_data/utf8_all/0002_ds191_20125_county_E.csv", "data/county_data/utf8_all/0002_ds191_20125_county_E.csv", "data/county_data/utf8_all/0002_ds239_20185_county_E.csv", "data/county_data/utf8_all/0002_ds249_20205_county_E.csv"]

# Split df_final by year
df_final_by_year = dict(tuple(df_final.groupby('year')))

# Initialize an empty list to store the updated yearly dataframes
df_updated_list = []

for year, df_year in df_final_by_year.items():
    # Find the appropriate save file
    csv_file = ""
    if year < 2008:
        csv_file = csv_files[0]
    elif year < 2010:
        csv_file = csv_files[1]
    elif year < 2012:
        csv_file = csv_files[2]
    elif year < 2014:
        csv_file = csv_files[3]
    elif year < 2016:
        csv_file = csv_files[4]
    elif year < 2021:
        csv_file = csv_files[5]
    else:
        print(f"No csv file for year {year}")
        continue
    
    if csv_file:
        #does some data importing... doesn't really matter the bug's not here
        df_temp = pd.read_csv(csv_file, low_memory=False)
        df_temp.columns = df_temp.iloc[0]
        df_temp['FIPS'] = df_temp['Public Use Microdata Area Code'].astype(str).apply(lambda x: x.split("US")[-1])
        df_temp = df_temp.dropna(axis=1, how='all')
        df_year['county_fips'] = df_year['county_fips'].astype(str)
        df_merged = pd.merge(df_year, df_temp, left_on='county_fips', right_on='FIPS', how='left')
        #append to dataframe without concatenating
        df_updated_list.append(df_merged.reset_index(drop=True))  # Reset the index of each merged DataFrame
    else:
        print("Can't open file")

# Find the common columns among all DataFrames in df_updated_list
common_columns = set(df_updated_list[0].columns)
for df in df_updated_list[1:]:
    common_columns = common_columns.intersection(df.columns)
common_columns = list(common_columns)
print(common_columns)
# Select only the common columns
df_updated_list = [df[common_columns] for df in df_updated_list]

for df in df_updated_list:
    print(df.shape)
    print(df.head())
# Concatenate the DataFrames. THIS IS THE LINE CAUSING THE BUG
df_updated = pd.concat(df_updated_list, ignore_index=True)

df_updated = df_updated.dropna(axis=1, how='all')
print(df_updated.head())

['White alone', 'County Subdivision Code', 'Hispanic or Latino: Two or more races: Two races including Some other race', 'Not Hispanic or Latino: Two or more races: Two races including Some other race', 'Vacant', 'Less than $10,000', 'Hispanic or Latino: Black or African American alone', 'Female: 45 to 49 years', 'Male: 70 to 74 years', 'Combined Statistical Area Code', 'Two or more races: Two races including Some other race', 'Metropolitan Division Code', 'Female: 62 to 64 years', 'Tribal Block Group Code', 'American Indian Area/Alaska Native Area (Reservation or Statistical Entity Only) Code', 'Asian alone', 'Not Hispanic or Latino: Native Hawaiian and Other Pacific Islander alone', 'Male: Under 5 years', 'American Indian Area/Alaska Native Area/Hawaiian Home Land Code', 'School District (Elementary)/Remainder Code', '1.00 to 1.24', 'Block Group Code', 'Male: 80 to 84 years', 'Hispanic or Latino: Two or more races: Two races excluding Some other race, and three or more races', 'Hispanic or Latino', 'Subminor Civil Division Code', 'Hispanic or Latino: Two or more races', 'Female: 15 to 17 years', 'Male: 67 to 69 years', '$35,000 to $39,999', 'Total', '$15,000 to $19,999', '.50 to .99', 'American Indian Area (Off-Reservation Trust Land Only)/Hawaiian Home Land Code', 'Male: 22 to 24 years', 'State Legislative District (Lower Chamber) Code', 'County Code', 'Some other race alone', 'Male: 18 and 19 years', 'GIS Join Match Code', 'Consolidated City Code', 'New England City and Town Area Division Code', 'Area Name', 'Not Hispanic or Latino: Asian alone', 'Male: 62 to 64 years', 'Male: 65 and 66 years', 'Female: 5 to 9 years', 'State Legislative District (Upper Chamber) Code', 'Male', '$25,000 to $29,999', 'Hispanic or Latino: White alone', '2.00 and over', 'Female: 40 to 44 years', 'Male: 25 to 29 years', 'Data File Year', 'Urban Area Code', 'Female', 'Female: 70 to 74 years', 'State Postal Abbreviation', '$200,000 or more', 'Male: 35 to 39 years', 'Median gross rent', 'Female: 30 to 34 years', 'Hispanic or Latino: Asian alone', 'Female: 18 and 19 years', '$30,000 to $34,999', 'Male: 30 to 34 years', '$125,000 to $149,999', 'Not Hispanic or Latino', 'School District (Secondary)/Remainder Code', 'Female: 85 years and over', 'Native Hawaiian and Other Pacific Islander alone', 'Male: 40 to 44 years', '$40,000 to $44,999', 'Female: 25 to 29 years', 'Female: 75 to 79 years', 'Female: 60 and 61 years', 'net_total', 'Hispanic or Latino: Some other race alone', 'Under .50', '1.50 to 1.84', 'State Code', 'Male: 55 to 59 years', 'Tribal Subdivision/Remainder Code', 'Not Hispanic or Latino: American Indian and Alaska Native alone', 'Female: 21 years', 'Male: 5 to 9 years', 'Male: 21 years', 'Female: 22 to 24 years', '$100,000 to $124,999', '$75,000 to $99,999', 'Female: 10 to 14 years', 'Female: 65 and 66 years', 'Division Code', 'School District (Unified)/Remainder Code', 'Male: 20 years', 'Female: 35 to 39 years', 'Male: 60 and 61 years', 'Public Use Microdata Area Code', 'Female: 55 to 59 years', 'Census Tract Code', 'Not Hispanic or Latino: White alone', 'Female: 50 to 54 years', 'Black or African American alone', 'Owner occupied', 'Male: 85 years and over', 'Male: 10 to 14 years', 'Male: 50 to 54 years', '1.25 to 1.49', 'Female: 80 to 84 years', '$150,000 to $199,999', 'county_name', 'Female: Under 5 years', 'Metropolitan Statistical Area/Micropolitan Statistical Area Code', '$45,000 to $49,999', 'Two or more races', 'Principal City Indicator', 'Two or more races: Two races excluding Some other race, and three or more races', 'Not Hispanic or Latino: Two or more races: Two races excluding Some other race, and three or more races', 'year', 'winner', '1.85 to 1.99', 'Not Hispanic or Latino: Some other race alone', 'FIPS', 'Male: 45 to 49 years', 'County Name', 'New England City and Town Area Code', 'Male: 15 to 17 years', 'Not Hispanic or Latino: Two or more races', 'Hispanic or Latino: Native Hawaiian and Other Pacific Islander alone', 'State Name', 'Alaska Native Regional Corporation Code', '$20,000 to $24,999', 'Region Code', 'Hispanic or Latino: American Indian and Alaska Native alone', 'Male: 75 to 79 years', 'Female: 67 to 69 years', 'Combined New England City and Town Area Code', '$50,000 to $59,999', 'Not Hispanic or Latino: Black or African American alone', 'Tribal Census Tract Code', 'American Indian and Alaska Native alone', 'Occupied', '$10,000 to $14,999', 'Median value (dollars)', 'Renter occupied', 'county_fips', 'American Indian Trust Land/ Hawaiian Home Land Indicator', '$60,000 to $74,999', 'Female: 20 years']
(134, 166)
  White alone County Subdivision Code  \
0         NaN                     NaN
1         NaN                     NaN
2         NaN                     NaN
3         NaN                     NaN
4         NaN                     NaN

  Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Not Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Vacant Less than $10,000  \
0    NaN               NaN
1    NaN               NaN
2    NaN               NaN
3    NaN               NaN
4    NaN               NaN

  Hispanic or Latino: Black or African American alone Female: 45 to 49 years  \
0                                                NaN                     NaN
1                                                NaN                     NaN
2                                                NaN                     NaN
3                                                NaN                     NaN
4                                                NaN                     NaN

  Male: 70 to 74 years Combined Statistical Area Code  ...  \
0                  NaN                            NaN  ...
1                  NaN                            NaN  ...
2                  NaN                            NaN  ...
3                  NaN                            NaN  ...
4                  NaN                            NaN  ...

  Tribal Census Tract Code American Indian and Alaska Native alone Occupied  \
0                      NaN                                     NaN      NaN
1                      NaN                                     NaN      NaN
2                      NaN                                     NaN      NaN
3                      NaN                                     NaN      NaN
4                      NaN                                     NaN      NaN

  $10,000 to $14,999 Median value (dollars) Renter occupied county_fips  \
0                NaN                    NaN             NaN       51001
1                NaN                    NaN             NaN       51003
2                NaN                    NaN             NaN       51510
3                NaN                    NaN             NaN       51005
4                NaN                    NaN             NaN       51007

  American Indian Trust Land/ Hawaiian Home Land Indicator $60,000 to $74,999  \
0                                                NaN                      NaN
1                                                NaN                      NaN
2                                                NaN                      NaN
3                                                NaN                      NaN
4                                                NaN                      NaN

  Female: 20 years
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 166 columns]
(134, 166)
  White alone County Subdivision Code  \
0         NaN                     NaN
1         NaN                     NaN
2         NaN                     NaN
3         NaN                     NaN
4         NaN                     NaN

  Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Not Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Vacant Less than $10,000  \
0    NaN               NaN
1    NaN               NaN
2    NaN               NaN
3    NaN               NaN
4    NaN               NaN

  Hispanic or Latino: Black or African American alone Female: 45 to 49 years  \
0                                                NaN                     NaN
1                                                NaN                     NaN
2                                                NaN                     NaN
3                                                NaN                     NaN
4                                                NaN                     NaN

  Male: 70 to 74 years Combined Statistical Area Code  ...  \
0                  NaN                            NaN  ...
1                  NaN                            NaN  ...
2                  NaN                            NaN  ...
3                  NaN                            NaN  ...
4                  NaN                            NaN  ...

  Tribal Census Tract Code American Indian and Alaska Native alone Occupied  \
0                      NaN                                     NaN      NaN
1                      NaN                                     NaN      NaN
2                      NaN                                     NaN      NaN
3                      NaN                                     NaN      NaN
4                      NaN                                     NaN      NaN

  $10,000 to $14,999 Median value (dollars) Renter occupied county_fips  \
0                NaN                    NaN             NaN       51001
1                NaN                    NaN             NaN       51003
2                NaN                    NaN             NaN       51510
3                NaN                    NaN             NaN       51005
4                NaN                    NaN             NaN       51007

  American Indian Trust Land/ Hawaiian Home Land Indicator $60,000 to $74,999  \
0                                                NaN                      NaN
1                                                NaN                      NaN
2                                                NaN                      NaN
3                                                NaN                      NaN
4                                                NaN                      NaN

  Female: 20 years
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 166 columns]
(134, 160)
  White alone County Subdivision Code  \
0         NaN                     NaN
1         NaN                     NaN
2         NaN                     NaN
3         NaN                     NaN
4         NaN                     NaN

  Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Not Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Vacant Less than $10,000  \
0    NaN               NaN
1    NaN               NaN
2    NaN               NaN
3    NaN               NaN
4    NaN               NaN

  Hispanic or Latino: Black or African American alone Female: 45 to 49 years  \
0                                                NaN                     NaN
1                                                NaN                     NaN
2                                                NaN                     NaN
3                                                NaN                     NaN
4                                                NaN                     NaN

  Male: 70 to 74 years Combined Statistical Area Code  ...  \
0                  NaN                            NaN  ...
1                  NaN                            NaN  ...
2                  NaN                            NaN  ...
3                  NaN                            NaN  ...
4                  NaN                            NaN  ...

  Tribal Census Tract Code American Indian and Alaska Native alone Occupied  \
0                      NaN                                     NaN      NaN
1                      NaN                                     NaN      NaN
2                      NaN                                     NaN      NaN
3                      NaN                                     NaN      NaN
4                      NaN                                     NaN      NaN

  $10,000 to $14,999 Median value (dollars) Renter occupied county_fips  \
0                NaN                    NaN             NaN       51001
1                NaN                    NaN             NaN       51003
2                NaN                    NaN             NaN       51510
3                NaN                    NaN             NaN       51005
4                NaN                    NaN             NaN       51007

  American Indian Trust Land/ Hawaiian Home Land Indicator $60,000 to $74,999  \
0                                                NaN                      NaN
1                                                NaN                      NaN
2                                                NaN                      NaN
3                                                NaN                      NaN
4                                                NaN                      NaN

  Female: 20 years
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 160 columns]
(134, 160)
  White alone County Subdivision Code  \
0         NaN                     NaN
1         NaN                     NaN
2         NaN                     NaN
3         NaN                     NaN
4         NaN                     NaN

  Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Not Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Vacant Less than $10,000  \
0    NaN               NaN
1    NaN               NaN
2    NaN               NaN
3    NaN               NaN
4    NaN               NaN

  Hispanic or Latino: Black or African American alone Female: 45 to 49 years  \
0                                                NaN                     NaN
1                                                NaN                     NaN
2                                                NaN                     NaN
3                                                NaN                     NaN
4                                                NaN                     NaN

  Male: 70 to 74 years Combined Statistical Area Code  ...  \
0                  NaN                            NaN  ...
1                  NaN                            NaN  ...
2                  NaN                            NaN  ...
3                  NaN                            NaN  ...
4                  NaN                            NaN  ...

  Tribal Census Tract Code American Indian and Alaska Native alone Occupied  \
0                      NaN                                     NaN      NaN
1                      NaN                                     NaN      NaN
2                      NaN                                     NaN      NaN
3                      NaN                                     NaN      NaN
4                      NaN                                     NaN      NaN

  $10,000 to $14,999 Median value (dollars) Renter occupied county_fips  \
0                NaN                    NaN             NaN       51001
1                NaN                    NaN             NaN       51003
2                NaN                    NaN             NaN       51510
3                NaN                    NaN             NaN       51005
4                NaN                    NaN             NaN       51007

  American Indian Trust Land/ Hawaiian Home Land Indicator $60,000 to $74,999  \
0                                                NaN                      NaN
1                                                NaN                      NaN
2                                                NaN                      NaN
3                                                NaN                      NaN
4                                                NaN                      NaN

  Female: 20 years
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 160 columns]
(134, 211)
  White alone County Subdivision Code  \
0         NaN                     NaN
1         NaN                     NaN
2         NaN                     NaN
3         NaN                     NaN
4         NaN                     NaN

  Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Not Hispanic or Latino: Two or more races: Two races including Some other race  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Vacant Less than $10,000 Less than $10,000  \
0    NaN               NaN               NaN
1    NaN               NaN               NaN
2    NaN               NaN               NaN
3    NaN               NaN               NaN
4    NaN               NaN               NaN

  Hispanic or Latino: Black or African American alone Female: 45 to 49 years  \
0                                                NaN                     NaN
1                                                NaN                     NaN
2                                                NaN                     NaN
3                                                NaN                     NaN

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [9]:
#decided to drop the 2000 & 2004 data because there is no county info that goes with it. 
df_updated = df_updated[~df_updated['year'].isin([2000, 2004])]
df_updated.head()

df_2020 = df_updated[df_updated['year'] == 2020]
df_total = df_updated[df_updated['year'] != 2020]
df_2020.reset_index(drop=True, inplace=True)
df_total.reset_index(drop=True, inplace=True)

NameError: name 'df_updated' is not defined

In [23]:
# Neural network time!
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

y = df_total['net_total']
X = df_total.drop('net_total', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

net = Sequential()
net.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))
net.add(Dense(units=32, activation='relu'))
net.add(Dense(units=1, activation='linear'))

net.compile(loss='mean_squared_error', optimizer='adam', metrics=['mae', 'mse'])

net.fit(X_train, y_train, epochs=25, verbose=1, batch_size=50)

# use it to predict testing data
evaluation = net.evaluate(X_test, y_test)

# Extract the evaluation metrics
loss = evaluation[0]
mae = evaluation[1]
mse = evaluation[2]
print("Evaluation metrics:")
print(f"Loss: {loss}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")

ModuleNotFoundError: No module named 'keras'

In [ ]:
# Then use it to predict data fro 2020 election since it's closest to current election
predictions_2020 = net.predict(df_2020.drop('net_total', axis=1))

# Sum all the predictions
total_prediction = predictions_2020.sum()

# Check if the total prediction is positive, negative, or zero
if total_prediction > 0:
    print("R wins by "+ str(total_prediction))
elif total_prediction < 0:
    print("D wins by "+ str(total_prediction))
else:
    print("Cannot make a prediction.")

In [24]:
#Then evaluate the actual accuracy of the prediction. 
evaluation_2020 = net.evaluate(df_2020.drop('net_total', axis=1), df_2020['net_total'])

# Extract the evaluation metrics
loss_2020 = evaluation_2020[0]
mae_2020 = evaluation_2020[1]
mse_2020 = evaluation_2020[2]
print("Evaluation metrics on 2020 data:")
print(f"Loss: {loss_2020}")
print(f"Mean Absolute Error (MAE): {mae_2020}")
print(f"Mean Squared Error (MSE): {mse_2020}")